<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>to-do-list</title>
  </head>
  <body>
    <h1><%= a %></h1>
    <ul>
      <% for(var i=0;i<newItem.length;i++){ %>
        <li><%= newItem[i] %></li>
      <% } %>
    </ul>
    <form  action="/" method="post">
      <input type="text" name="todo" >
      <button type="submit" name="submit">+</button>
    </form>
  </body>
</html>
